<html>
<head>
  <title>My Angular app!</title>

  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/style.css">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js" defer></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js" defer></script>
  
  <script type="text/javascript" src="/static/javascripts/angularApp.js" defer></script>

</head>
<body ng-app="flapperNews" ng-cloak>

  <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavController">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <a class="navbar-brand" href="/#/">Flapper News</a>
      </div>

      <ul class="nav navbar-nav">
        <li><a href="/#/home">Home</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="isSignedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isSignedIn()"><a href ng-click="signout()">Sign out</a></li>
        <li ng-hide="isSignedIn()"><a href="/#/users/signin">Sign in</a></li>
        <li ng-hide="isSignedIn()"><a href="/#/users/signup">Sign up</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view class="noselect"></ui-view>
    </div>
  </div>

</body>
</html>