<div class="page-header">
  <h1>Flapper News</h1>
</div>

<div ng-repeat=" post in posts | orderBy:'-upvotes' ">
  <span class="glyphicon glyphicon-thumbs-up" ng-click="isSignedIn() && incrementUpvotes(post)"></span>
  {{ post.upvotes }}
  
  <span class="title">
    <a href="{{ post.link }}" ng-show="post.link">{{ post.title }}</a>
    <span ng-hide="post.link">{{ post.title }}</span>
  </span>

  <span>
    <a href="#/posts/{{ post._id }}">Comments</a>
  </span>
</div>

<hr/>

<form ng-submit="addPost()" ng-show="isSignedIn()">
  
  <h3>Add a new post</h3>
  
  <div class="form-group">
    <input type="text" class="form-control" ng-model="title" placeholder="Title">
  </div>
  
  <div class="form-group">
    <input type="text" class="form-control" ng-model="link" placeholder="Link">
  </div>

  <button class="btn btn-primary">Post</button>

</form>

<div ng-hide="isSignedIn()">
  <h5>You need to <a href="/#/users/signin">Sign in</a> or <a href="/#/users/signup">Sign up</a> before you can add a post.</h5>
</div>