<div class="page-header">  
  <h3>
    <a ng-show="post.link" href="{{post.link}}">
      {{post.title}}
    </a>
    <span ng-hide="post.link">
      {{post.title}}
    </span>
  </h3>
</div>

<div ng-repeat=" comment in post.comments | orderBy:'-upvotes' ">
  
  <span class="glyphicon glyphicon-thumbs-up" ng-click="isSignedIn() && incrementUpvotes(comment)"></span>
  
  {{comment.upvotes}} - by {{comment.author}}
  
  <span style="font-size:20px; margin-left:10px;">
    {{comment.body}}
  </span>

</div>

<hr/>

<form ng-submit="addComment()" ng-show="isSignedIn()">
  <h3>Add a new comment</h3>
  
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Comment" ng-model="body">
  </div>
  
  <button type="submit" class="btn btn-primary">Post</button>
</form>

<div ng-hide="isSignedIn()">
  <h5>You need to <a href="/#/users/signin">Sign in</a> or <a href="/#/users/signup">Sign up</a> before you can add a comment.</h5>
</div>