<form ng-submit="signup()">
  
  <div class="page-header">
    <h1>Sign up</h1>
  </div>

  <div ng-show="error && error.length" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" ng-model="user.username" autofocus>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" ng-model="user.password" autofocus>
  </div>

  <button type="submit" class="btn btn-primary">Sign up</button>

</form>